@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  
  body {
  font-family: arial, helvetica, serif;
  font-size: 13px; }
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:6px 7px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 7px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-zlgr{font-family:"Arial Black", Gadget, sans-serif !important;;background-color:#00009b}
.tg .tg-zha0{background-color:#00009b}


.top-bar {
  background : #333333;
  height: 48px;
  line-height: 48px;
  margin: 0 0 30px ;
  width: 100%;
  margin-bottom: 0px !important;

}
.top-bar .name{
height: 45px;
margin: 0;
font-size: 20px;
background: #333333;
color: white;
}
.top-bar ul li{
  float: left;
  font-size: 16px;
  background: #333333;

}

.top-bar ul.right{
  width: auto;
  margin-bottom: 0;

}
.top-bar a {
  text-decoration: none;
  color: #fff;
}

.top-bar a:hover {
  text-decoration: none;
  color: #999999;
}
.top-bar ul {
  margin-left: 0;
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
}

#header {
  width: 985px;
  border: none;
  height: 57px;
  margin: 35px 0 5px 15px;
  padding: 0px;
  
}
#footer{
  margin-left: 20px;
}
.thin-end {
  border-bottom: 1px solid #9fabb9;
}

.panel-left {
 margin-left: 30px;
 
}

.panel-right{
 

}

.box-left{
  
  float: left;
  width: 20%;

}

.box-right {
  width: 78%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  float:right;
  
}
legend.largerSummary {
  
  position: relative;
  text-align: center;
  font: bold 15px arial;
  font-smooth: auto;
  letter-spacing: 3px;
  padding: 0 8px 0 8px;
  color: #56606d;
}

.clearer {
  clear: both;
  width: 100%;
}

.m-t13 {
  margin-top: 13px;
  width:300px;
}

div.groupBorder {
  border: 1px solid #9fabb9;
  padding: 8px 8px 25px 8px;
}
div.groupBorder1 {
  border: 1px solid #9fabb9;
  padding: 8px 8px 25px 8px;
  height: auto;
}

.c01 {
  padding: 2px 5px 10px 5px;
  text-align: center;
  border: 0px;
  font: bold 12px Arial;

}
}
.c02 {
  padding: 0 5px 3px 5px;
  text-align: left;

}
td, th {
  display: table-cell;
  vertical-align: inherit;

}
td, th {
  padding: 0;
  margin: 0;
}
.nf1 {
  padding: 2px 2px 2px 5px;
  text-align: left;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px ;
  font: normal 11px Arial;
}

.left{
  float:left;
}

.nf2 {
  padding: 2px 0 2px 5px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  font: normal 11px Arial;
  
}

.nf3 {
  padding: 2px 2px 2px 5px;
  text-align: left;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  font: normal 11px Arial;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

.p-l13 {
  padding-left: 13px;
}
/*///////////////////////////////*/
.wrapper { 
  margin: auto;
  float: none;
  font-family: inherit;
}

.title {
  font-family: inherit;
}
.content {
  margin-top: 20px;
}

.label-text {
  font-weight: bold;
  color: #0a5282;
}
.table {
  margin-top: 15px
}

.main-table {
  border-bottom: 1px solid black;
  width: 700px;
}
.main-table thead td.first{
  color: #f7941e;
  width: 200px;
  background: none;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.main-table thead td {
  width: 20px;
  background: #035184;
  color: white;
  font-size: 12px;
    font-weight: normal;
    padding: 6px 6px;
    text-align: center;
    text-transform: capitalize;
    font-family: inherit;
}

.main-table tbody td {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e6e6e6;
  font-family: Arial,Helvetica,sans-serif;
  text-align: right;
  padding: 6px 10px;
  margin-top: 2px;
  vertical-align: middle;
  font-size: 10px;
}
.main-table tbody tr td.first {
  text-align: left;
}
.main-table tbody tr td.delete {
  width: 20px;
}
.main-table tbody tr.bottom td.link {
  text-align: left;
   width: 20px;
}
.main-table tbody tr.bottom td {
  font-size: 16px;
  background: none;
  border-bottom: none;
}
.main-table tbody a {
  color: #0072bc;
  text-decoration-line: none;
}

.main-table tbody a:hover {
  color: #ff8000;
}

.table-total {
  margin-left: 118px;
  margin-top: 15px;
}
.table-total tbody tr.total td.first{
  text-align: right;
  background: none;
  border-bottom: none;
}
.table-total tbody td {
  
  background-color: #f6f6f6;
  border-bottom: 1px solid #e6e6e6;
  font-family: Arial,Helvetica,sans-serif;
  text-align: right;
  padding: 8px 12px;
  margin-top: 2px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
}

/* style addingredient*/
body {
  margin: 50px;
}

h5 {
  color: #0a5282;
  font-weight: bold;
}

h4 {
  color: #0a5282;
  font-weight: bold;
}

a {
  text-decoration: none;
}
 a:HOVER {
  color: #fd9902;
  text-decoration: none;
}

/*.col-1 {
  width: 420px;
  position: relative;
  overflow: hidden;
}
*/
.matching {
  height: auto;
  width: 300px;
  border: 1px solid #808080;
  overflow: auto;
  padding: 4px 8px;
  font-family: Arial,sans-serif;
}

ul {
  list-style: outside none none;
}

ul.matching li:last-child {
    border-bottom: 0px none;
}

li {
  font-size: 12px;
  height: 30px;
  border-bottom: 1px solid #E6E6E6;
  display: block;
  overflow: hidden;
}

li:HOVER {
  background: #f0f0f0;
  border-bottom: 1px solid #E6E6E6;
}

ul.matching li a {
  display: inline-block;
  float: left;
  line-height: 19px;
  padding: 7px 0px;
}

#serving {
  height: 300px; 
  margin-top: 112px;
  width: 300px;
  background-color: #F6F6F6;
  text-align: center;
  border-top: 3px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
}
.loaded_item {
  padding: 20px;
}
.food-description {
  margin-top: 10px;
  margin-bottom: 0.3em;
  color: #F00;
  font-weight: bold;
  line-height: 1.2em;
  font-size: 1.2em;
}

.user_submitted {
  font-size: 10px;
  line-height: 1.1em;
}

.nutritional_info {
  margin-bottom: 25px;
  font-size: 12px;
}

fieldset.scheduler-border {
    border: 2px groove #035184!important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
}