body {
  font-family: arial, helvetica, serif;
  font-size: 13px;
 /* margin: 15px auto 0 auto;
  border-right: 0;
  border-left: 0;
  width: 1000px;*/
}


.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:6px 7px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 7px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-zlgr{font-family:"Arial Black", Gadget, sans-serif !important;;background-color:#00009b}
.tg .tg-zha0{background-color:#00009b}


.top-bar {
  background : #333333;
  height: 48px;
  line-height: 48px;
  margin: 0 0 30px ;
  width: 100%;
  margin-bottom: 0px !important;

}
.top-bar .name{
height: 45px;
margin: 0;
font-size: 20px;
background: #333333;
color: white;
}
.top-bar ul li{
  float: left;
  font-size: 16px;
  background: #333333;

}

.top-bar ul.right{
  width: auto;
  margin-bottom: 0;

}
.top-bar a {
  text-decoration: none;
  color: #fff;
}

.top-bar a:hover {
  text-decoration: none;
  color: #999999;
}
.top-bar ul {
  margin-left: 0;
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
}

#header {
  width: 985px;
  border: none;
  height: 57px;
  margin: 35px 0 5px 15px;
  padding: 0px;
}
#footer{
  margin-left: 20px;
}
.thin-end {
  border-bottom: 1px solid #9fabb9;
}

.panel-left {
 margin-left: 30px;
 
}

.panel-right{
 

}

.box-left{
  
  float: left;
  width: 20%;

}

.box-right {
  width: 78%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  float:right;
  
}
legend.largerSummary {
  
  position: relative;
  text-align: center;
  font: bold 15px arial;
  font-smooth: auto;
  letter-spacing: 3px;
  padding: 0 8px 0 8px;
  color: #56606d;
}

.clearer {
  clear: both;
  width: 100%;
}

.m-t13 {
  margin-top: 13px;
  width:300px;
}

div.groupBorder {
  border: 1px solid #9fabb9;
  padding: 8px 8px 25px 8px;

}
.c01 {
  padding: 2px 5px 10px 5px;
  text-align: center;
  border: 0px;
  font: bold 12px Arial;
}
.c02 {
  padding: 0 5px 3px 5px;
  text-align: left;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
td, th {
  padding: 0;
  margin: 0;
}
.nf1 {
  padding: 2px 2px 2px 5px;
  text-align: left;
}

.nf2 {
  padding: 2px 0 2px 5px;
  text-align: right;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

.p-l13 {
  padding-left: 13px;
}