<div class="container-fluid">
    <h2> Nutrition Facts Comparison Tool </h2>
    <table style= "background:#CCCCCC">
    
        <tr>
            <td><b><font size="-1" >Enter Food #1:</font></b></td>
            <td>
                <input  type="textbox" size="60" value="">
            </td>
        </tr>
        <tr>
            <td><b><font size="-1" >Enter Food #2:</font></b></td>
            <td>
                <input  type="textbox" size="60" value="">
            </td>
        </tr>
        <tr>
            <td></td>
            <td> Set 100 grams as your default weight.</td>
            <td>
                <input type="submit" value="Compare Nutrition Facts">
            </td>
        </tr>
  
</table>
</div>