<div class="warpper">

    <div class="titer">
        <h1 class="main-title">Recipe Nutrition Calculator</h1>
    </div>
    
    <div class="conten">
    
        <div class="column1">
            <label class="label-text">Recipe name</label>
            <div>
                <input type="text" size="30" class="text-long">
            </div>
        </div>
        
        <div class="column2">
            <label class="label-text">Number of servings</label>
            <div>
                serves <input type="text" class="text-short" size="30"> people 
            </div>
        </div>
        
        <div class="table">
        
            <table class="main-table">
            
                <thead>
                    <tr>
                        <td class="first">Ingredients</td>
                        <td>Calories</td>
                        <td>Carbs</td>
                        <td>Fat</td>
                        <td>Protein</td>
                        <td>Sodium</td>
                        <td>Sugar</td>
                    </tr>
                </thead>
                
                <tbody>
                
                    <!--  -->
                      <tr>
                        <td class="first">Eggs - Grade A Large, 1 egg (65g)</td>
                          <td>70</td>
                          <td>0</td>
                          <td>5</td>
                          <td>6</td>
                          <td>70</td>
                          <td>0</td>
                        <td class="delete">
                          <a href="#"><img alt="Ico_delete" src="http://d34yn14tavczy0.cloudfront.net/assets/ico_delete-08bcc180fb3e54dedbf7511082bfafc6.gif"></a>
                        </td>
                      </tr>
                      
                      <tr>
                        <td class="first">Eggs - Grade A Large, 1 egg (65g)</td>
                          <td>70</td>
                          <td>0</td>
                          <td>5</td>
                          <td>6</td>
                          <td>70</td>
                          <td>0</td>
                        <td class="delete">
                          <a href="#"><img alt="Ico_delete" src="http://d34yn14tavczy0.cloudfront.net/assets/ico_delete-08bcc180fb3e54dedbf7511082bfafc6.gif"></a>
                        </td>
                      </tr>
                    <!-- -->
                    
                    <tr class="bottom">
                        <td class="link"><a href="#">Add Ingredient</a></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    
                 </tbody>
                
            </table>
            
            <table class="table-total">
            
                <tbody>
                
                    <tr class="total">
                      <td class="first">Total:</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    
                    <tr class="total">
                    
                        <td class="first">Per Serving:</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      
                    </tr>
                </tbody>
                
            </table>
            
        </div>
    </div>
</div>