<div class="container-fluid">

    <div id="header">
        <table>
            <tr>
                <td><img src="/img/nutrition.jpg"></td>
                <td>
                    <input ng-model="searchText" style="margin-left:250px" type="text" placeholder="enter food name">
                </td>
                <td>
                    <button style="margin-left: 20px;" type="button" class="btn btn-primary" ng-click="doSearchIngredients(searchText)"> Search </button>
                </td>
            </tr>
        </table>
        
    </div>
    <div class="panel-left">
        <h3> Ingredient List</h3>
        <div >
            <table>
                <tr ng-repeat="ingredient in ingredients">
                    <td><a style="text-decoration: none;" ng-href="#/viewingredient/{{ingredient.id}}">{{ingredient.label}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-right">

    </div>
    <div id="footer">
    </div>
    <pagination total-items="bigTotalItems" items-per-page="itemsPerPage" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false"></pagination>
</div>